<html>
    <body>
        <div class="dash">
            <div class="sidebar"> 
                
                <ul>
                    <br><br><br><br>
                    <li><h1>Dashboard </h1></li>
                    <li><a routerLink="">Profile</a></li><br>
                    <li><a routerLink="">Scholarships</a></li><br>
                    <li><a routerLink="">Status</a></li>
                    <li><a routerLink="">Change Password</a></li>
                </ul>
            </div>

            <section class="main"> 
               
            </section>
        </div>

</body>

</html>