<html>
    <head>
        <title>Admin</title>
    </head>
    <body>
        <br><br><br><br><br><br><br>
       <div class="admin">
            <h1>Admin Login</h1>
            <form >

                <p >Admin ID</p>
                <input type="text" placeholder="Enter Admin ID">
                
                <p >Password</p>
                <input type="password" placeholder="Enter Password" >
            
                <button type="submit" routerLink="/admindash">Login</button>

            </form>
       </div>
    </body>
</html>
