<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
       <div class="res">
            <h1>Registration</h1>
            <form>
                <p>College ID</p>
                <input type="text" placeholder="Enter College ID">
                <p>Full Name</p>
                <input type="text" placeholder="Enter Full Name">
                <p>Create UserID</p>
                <input type="text" placeholder="Enter UserID">
                <p>Create Password</p>
                <input type="text" placeholder="Enter Password">
                <p>Confirm Password</p>
                <input type="text" placeholder="Enter Password">
                <button type="submit">Register</button>
            </form>
       </div>
    </body>
</html>
